.non{
    width: 230px;
    height: 20px;
    border-radius: 19px;
    border: solid red 5px;
    background-color: white;
  margin-left: 5rem ;
  margin-top: 5rem;
}
.bir{
    height: 20px;
    animation-name:movmory;
    animation-duration: 8s;
    background-color: rgb(92, 241, 11);
    border-radius: 19px;

}
@keyframes movmory{
0%{

}
25%{
margin-right: 205px;
}
}


